<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">blog</a></li>
  </ul>
</nav>
<slot />

<style>
  ul {
    display: flex;
    list-style: none;
    font-size: larger;
  }
  li {
    margin-right: 10px;
  }
</style>
