<script context="module">
  export const load = ({ page }) => {
    console.log(page.params.id);
    const id = page.params.id;
    return {
      props: {
        id,
      },
    };
  };
</script>

<script>
  export let id;
</script>

<h1>{id} Blog</h1>
