<script>
  import PokeCard from "../components/PokeCard.svelte";
  import { pokemon } from "../stores/pokestore";
  console.log($pokemon);
  let searchTerm = "";
  let filteredPokemon = [];
  $: {
    if (searchTerm) {
      filteredPokemon = $pokemon.filter((pokemon) =>
        pokemon.name.includes(searchTerm)
      );
    } else {
      filteredPokemon = [...$pokemon];
    }
  }
</script>

<svelte:head><title>svelte kit pokdex</title></svelte:head>
<h1>Welcome to SvelteKit</h1>
<h1 class="text-4xl text-center">All Pokemons</h1>
<div class="flex justify-center my-4">
  <input
    type="text"
    class="w-1/2 p-3 border-2 rounded-lg"
    placeholder="Search for pokemons"
    bind:value={searchTerm}
  />
</div>
<div class=" my-5 mx-3">
  <div class="flex justify-center align-middle flex-wrap ">
    {#each filteredPokemon as pokeman}
      <PokeCard {pokeman} />
    {/each}
  </div>
</div>
