<script context="module">
  export async function load({ page }) {
    const id = page.params.id;
    const url = `https://pokeapi.co/api/v2/pokemon/${id}`;
    const res = await fetch(url);
    const pokemonDetail = await res.json();
    return {
      props: { pokemonDetail },
    };
  }
</script>

<script>
  export let pokemonDetail;
  $: {
    console.log(pokemonDetail);
  }
</script>

<div class="flex justify-center align-middle text-center">
  <div>
    <img src={pokemonDetail.sprites.other.dream_world.front_default} alt="" />
    <br />
    <h1 class="text-5xl font-semibold">{pokemonDetail.name}</h1>
    <br />
    <p class="text-2xl">Experience: {pokemonDetail.base_experience}</p>
  </div>
</div>
