<script>
  import { fade } from "svelte/transition";
  export let pokeman;
</script>

<a href={`/pokemonId/${pokeman.id}`} sveltekit:prefetch transition:fade>
  <div class="p-3 m-5 border-2 bg-yellow-300 rounded-md text-center">
    <div class="w-full">
      <img src={pokeman.image} alt="" />
    </div>
    <p>{pokeman.name}</p>
  </div>
</a>
